@import 'normalize';
@import '_scut.scss';
@import 'colors';
@import 'fonts';
@import 'utils';

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

$body-font-size: 16px;
$body-line-height: 1.4;
body {
  line-height: $body-line-height;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
  box-sizing: border-box; 
}

html {
  background: #4a3227 url('../img/hangman.png') no-repeat 90% 0%;
  background-attachment: fixed;
  font-family: 'Avenir Next', 'Futura', 'Nunito', sans-serif;
  color: $white;
}

a {
  color: $white;
}

h1, h2, h3 {
  font-family: 'Avenir Next', 'Futura Bold', 'Futura', sans-serif;
}

h1 {
  font-weight: $bold-weight;
  text-transform: uppercase;
}

$section-width: 1024px;
section {
  margin: 4em auto;
  max-width: $section-width;
  padding: 0 20px;
  h1, h2, h3 {
    color: $red;
  }
  h3 {
    margin-top: -1em;
  }
  p {
    text-align: justify;
  }
}

hr {
  border: none;
}

.btn {
  appearance: none;
  border: none;
  outline: none;
}

.cta-btn {
  background: $white;
  border-radius: 15px;
  color: $red;
  font-family: 'Avenir Next Condensed', 'Futura Bold Condensed', 'Futura', sans-serif;
  font-weight: $bold-weight;
  padding: $body-font-size;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    color: $black;
  }
  &:active {
    background: $black;
    color: $white;
    transition: none;
  }
}

$hero-height: 460px;
.hero {
  background: url('../img/hero.jpg') no-repeat 50% 30%;
  background-size: cover;
  box-sizing: border-box;
  height: $hero-height;
  padding: 40px 40px 0;
  position: relative;
  margin: 0 auto;
  max-width: 1920px;
  position: relative;
  &--playing {
    .player {
      &__fade {
        opacity: 1;
      }
    }
    .hero__cta {
      bottom: -140px;
    }
  }
  h1 {
    bottom: 20px;
  }
  h1 {
    color: $white;
    font-size: 6em;
    left: 40px;
    margin: 0;
    position: absolute;
    span {
      display: block;
      line-height: .8em;
    }
  }
  &__bi {
    font-size: 1.5em;
  }
  $cta-font-size: 2em;
  &__buttons {
    @extend %scut-clearfix;
    bottom: 20px;
    position: absolute;
    right: 20px;
  }
  &__cta, &__trailer {
    transition: bottom 1s ease, color .5s linear;
  }
  &__cta {
    bottom: 0;
    @extend %scut-clearfix;
    float: right;
    margin-left: 2em;
    position: relative;
    z-index: 2;
  }
  &__trailer {
    float: left;
    line-height: ($body-font-size * $body-line-height + $body-font-size * $body-line-height * scut-strip-unit($cta-font-size))
  }
  &__cta-main, &__trailer {
    font-size: $cta-font-size;
  }
  &__cta-main {
    text-align: center;
  }
  &__cta-detail {
    &--first {
      float: left;
      margin-right: 1em;
    }
    &--second {
      float: right;
    }
  }
  &__play {
    @include scut-center-absolutely(image-width('play.png') image-height('play.png'));
    @include scut-image-replace;
    background: url('../img/play.png');
    border: 0;
    cursor: pointer;
    opacity: .75;
    padding: 0;
    transition: opacity .5s linear;
    &:hover {
      opacity: 1;
    }
  }
}

.player {
  border: 0;
  z-index: 2;
  &, &__fade {
    background: $black;
    @include scut-fill(true);  
  }
  &__fade {
    opacity: 0;
    transition: opacity 1s linear;
    z-index: 1;    
  }
  $player__close-dimensions: 40px;
  &__close {
    background: transparent;
    color: white;
    font-weight: bold;
    left: 0;
    line-height: $player__close-dimensions;
    margin: 0;
    position: absolute;
    top: 0;
    width: $player__close-dimensions;
    z-index: 3;
  }
}

.separator {
  background: url('../img/separator.png') no-repeat 50% 0%;
  height: image-height('separator.png');
  margin: 0 0 -3em; 
}

.description {
  &__pills {
    &:before {
      background: url('../img/pills.png');
      content: '';
      float: right;
      @include image-dimensions('pills.png');
      margin: 0 0 1em 2em;
    }
  }
}

.details {
  text-align: center;
  ul {
    @include scut-list-unstyled(false);
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
  }
  li {
    margin: .5em 0;
  }
}

.live-through-this {
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}

.people {
  @extend %scut-clearfix;
  img {
    float: left;
    margin: 0 1em 1em 0;
  }
  small {
    clear: right;
    float: right;
    text-align: right;
    width: 200px;
  }
  h1 {
    margin-bottom: 0;
  }
  &__sub-header {
    margin-top: 0;
  }
  &__section {
    float: left;
    width: 48%;
    &--first {
      clear: left;
    }
    &--second {
      margin-left: 4%;
    }
    img {
      float: right;
    }
    img, small {
      margin: 0 0 .5em 1em;      
    }
  }
}

.bart {
  overflow: hidden;
  position: relative;
  &, &:before {
    height: image-height('train.png');
  }
  &:before {
    background: url('../img/train.png') no-repeat;
    content: '';
    display: block;
    left: 50%;
    margin-left: -$section-width / 2 + 20px;
    position: absolute;
    width: 100%;
  }
}

.testimonials {
  margin-top: 20px;
  text-align: center;
  blockquote {
    margin: 0 0 2em;
  }
  p {
    font-size: 1.25em;
    margin-bottom: .5em;
    text-align: center;
  }
}

.credits {
  @extend %scut-clearfix;
  &__main, &__kickstarter {
    float: left;
    width: 50%;
  }
  &__kickstarter {
    h2 {
      margin-top: 0;
    }
  }
}

.signup {
  &__control-group {
    @extend %scut-clearfix;
    margin-bottom: 1em;
  }
  h1 {
    font-size: 1.75em;
  }
  form {
    display: table;
    margin: 0 auto;
  }
  label {
    display: block;
    float: left;
    line-height: 2em;
    margin-right: 2em;
    text-align: right;
    width: 8em;
  }
  input[type=text], input[type=email] {
    font-size: 1.5em;
  }
  .cta-btn {
    float: right;
  }
}

.final-cta {
  font-size: 2em;
  margin-top: 2em;
  text-align: center;
  &__cta {
    transition: color .5s linear;
  }
}

@media only screen and (max-width: 1024px) {
  .hero {
    &__buttons {
      left: 0;
      margin: 0;
      width: 100%;
    }
    &__trailer, &__cta {
      display: table;
      float: none;
      margin: 1em auto 0;
    }
  }
  .bart {
    &:before {
      background-position: 20px 0;
      margin: 0;
      position: static;
    }
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    text-align: center;
    h1 {
      bottom: auto;
      top: 20px;
      font-size: 3em;
      left: 0;
      text-align: center;
      width: 100%;
      span {
        display: inline;
      }
    }
    &__bi {
      font-size: 1em;
    }
  }
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
  .description {
    &__pills {
      &:before {
        display: block;
        float: none;
      }
    }
  }
  .people {
    &__section {
      float: none;
      width: auto;
      &--second {
        margin: 0;
      }
    }
    img, small {
      display: block;
      float: none;
      margin: 0 0 .5em;
    }
  }
  .credits {
    &__main, &__kickstarter {
      float: none;
      width: auto;
    }
    h2 {
      margin-top: 1.5em;
    }
  }

  .signup {
    label {
      float: none;
      text-align: left;
    }
  }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
