---
title: Bi-Poseur
---

<section class="description">
  <h1>We need to talk about Bi-Poseur</h1>
  <p>It's December 2010 and Paolo thinks he's going to die. And not just quietly in his sleep when he's 87 either. He's convinced that the blood clot in his leg is going to make its way into his chest, causing a major heart attack, which would kill Paolo instantly at his desk, while he was updating his status on Facebook. And this is all assuming that Paolo doesn't kill himself first. Either by finally manning up and slitting his wrists (just making sure to avoid the tendons to retain use of his hands if he screws up) or maybe jumping in front of a BART train (although he doesn't wanna be remembered as the ass who got the trains delayed). But first, he has to write the perfect suicide note, which he can't seem to do.</p>
  <p class="description__pills">If you don't think that's dark enough, today is the day his mom died, fourteen years ago. Paolo's going to visit her grave, to sort out all this cosmic screwing around. From psych wards, to exclusive prep schools in Marin County, to Playstation controllers used as improvised nooses, what's someone who might be bi-polar to do?</p> 
  <p>Bi-Poseur, the show that Hiya Swanhuyser of the SF Weekly said “mines the depths and comes up with gold”, is probably the best time anyone will ever have hearing about suicide, mental illness, and dead parents for a night.</p>
</section>
<section class="details">
  <h1>What you are getting</h1>
  <ul>
    <li>70-minute video</li>
    <li>Full HD download</li>
    <li>DRM-free</li>
    <li>10% of every purchase going toward <a href="http://livethroughthis.org/" target="_blank">Live Through This</a>
  </ul>
</section>
<section class="final-cta">
  <a href="https://gum.co/SZjf" class="final-cta__cta cta-btn btn">Buy now</a>
</section>
<section class="live-through-this">
  <h1>About Live Through This</h1>
  <a href="http://livethroughthis.org/" target="_blank"><img src="img/lttlogo.png" alt="Live Through This logo"></a>
  <p><a href="http://livethroughthis.org/" target="_blank">Live Through This</a> is a suicide awareness initiative that blends art and oral history in a series of portraits of suicide attempt survivors paired with stories of their experiences. 10% of all proceeds from sales of Bi-Poseur go to support the project's efforts.</p>
</section>
<section class="people">
  <h1>About Paolo</h1>
  <h2 class="people__sub-header">Writer/Performer</h2>
  <a href="img/bios/full/paolo.jpg"><img src="img/bios/thumb/paolo.jpg" alt="Paolo Sambrano"></a>
  <p>Paolo's debut solo show "Bi-Poseur" (directed by W. Kamau Bell) has played to sold-out houses in the Bay Area, and has performed in Texas and Maryland. Paolo is the creator of the card game No Benefits, was a speaker at South by Southwest Interactive, and blogs about television at the San Francisco Appeal. Paolo has been featured in the SF Weekly and the San Francisco Chronicle &mdash; and KXAN-TV in Austin, TX mentioned that his suicide attempt was "obviously unsuccessful."</p>
  <p><a href="https://twitter.com/paolo" target="_blank">Follow Paolo on Twitter: @paolo</a></p>
  <div class="people__section people__section--first">
    <h2>W. Kamau Bell</h2>
    <h3>Director</h3>
    <a href="img/bios/full/wkamau.jpg"><img src="img/bios/thumb/wkamau.jpg" alt="W. Kamau Bell"></a>
    <small>Photo by <a href="http://www.lukefontanaphoto.com" target="_blank">Luke Fontana</a></small>
    <p>Socio-political comedian W. Kamau Bell has emerged as the post-modern voice of comedy. Kamau is best known for his critically acclaimed, but criminally short-lived FX comedy series, Totally Biased with W. Kamau Bell.</p>
    <p>The New York Times called Kamau “the most promising new talent in political comedy in many years.” And Salon.com listed Kamau on their “Sexiest Men of 2012” list, calling the series “surreptitiously revolutionary in its effortless diversity and humanism.” Kamau has appeared on Comedy Central, Real Time with Bill Maher, Conan, WTF with Marc Maron, Henry Louis Gates Jr’s Many Rivers To Cross, MSNBC, The View, Fresh Air with Terry Gross, and NPR, among others. The SF Weekly called Kamau “smart, stylish, and very much in the mold of politically outspoken comedians like Dave Chappelle,” though he was more excited that they called him “handsome.”</p>
    <p><a href="https://twitter.com/wkamaubell" target="_blank">Follow Kamau on Twitter: @wkamaubell</a></p>
  </div>
  <div class="people__section people__section--second">
    <h2>Christopher Gandin Le</h2>
    <h3>Executive Producer</h3>
    <a href="img/bios/full/chris.jpg"><img src="img/bios/thumb/chris.jpg" alt="Christopher Gandin Le"></a>
    <p>Christopher Gandin Le has helped launch basically all of the national suicide programs. These include the Suicide Prevention Resource Center, the National Suicide Prevention Lifeline, Veterans Crisis Line and CrisisChat.org. He established the initial Facebook/Suicide prevention partnership and co-wrote the Facebook policy on suicide in 2005.</p>
    <p>Having launched these national and international programs, he's now looking to fill in the gaps &mdash; to find what's missing in our mental health system and create tools through which communities can support their own systems of healing and care.</p>
    <p>He believes that Bi-Poseur is a shining example of what improving the conversation on mental illness. He's proud to be part of this team and is a huge believer in the work that Paolo Sambrano is doing to save lives and make them better.</p>
    <p><a href="https://twitter.com/emotechnology" target="_blank">Follow Chris on Twitter: @emotechnology</a></p>
  </div>
</section>
<hr class="bart">
<section class="testimonials">
  <h1>Reviews</h1>
  <blockquote>
    <p>"Comedy about suicide is so rare. Oh, sure, you’ve got your jokers in the comments on SFGate, but they’re not funny. Paolo Sambrano brings it, though. ...Sambrano mines the depths and comes up with gold in Bi-Poseur, a one-man show focusing on 'the quest for the perfect suicide note (otherwise, why do it?)' among other things."</p>
    <footer><a href="http://www.sfweekly.com/2010-02-03/calendar/go-out-there-and-kill/full/">Hiya Swanhuyser, SF Weekly (2/3/10)</a></footer>
  </blockquote>
  <blockquote>
    <p>"But Sambrano's not trying to kill your buzz. He's trying to make you laugh."</p>
    <footer><a href="http://www.sfgate.com/thingstodo/article/Bi-Poseur-Show-about-suicide-remains-upbeat-3259043.php">SF Gate Article</a></footer>
  </blockquote> 
  <blockquote>
    <p>"Sambrano's suicide attempt was obviously unsuccessful."</p>
    <footer>KXAN, Austin (3/15/10)</footer>
  </blockquote>
</section>
<section class="credits">
  <h1>Credits</h1>
  <div class="credits__main">
    Bi-Poseur
    <br>
    Written and Performed by Paolo Sambrano
    <br>
    Directed by W. Kamau Bell
    <br>
    Performed at The Institution Theater Austin, TX
    <br>
    <br>
    Executive Producers
    <br>
    Christopher Gandin Le
    <br>
    Jennifer Gandin Le
    <br>
    Earnest Mazique
    <br>
    <br>
    Dave Tuck - Camera Operator
    <br>
    <br>
    Edited by James Gowdey
    <br>
    Site by Jeffrey Carl Faden
    <br>
    Graphics by Nikki Thayer
    <br>
    Music by Marcus Morieko and Kevin Grossman
    <br>
    <br>
    Special Thanks
    <br>
    The Institution Theater, Martha Rynberg, Zahra Noorbakhsh, Duncan Jacobson, Bruce Pachtman, Coke Nakamoto, Nicole Maxali, Enzo Lombard, Jennifer Jajeh, Paul Stein, Sarah Weidman, the Solo Performance Workshop, the Guild, Romulo Sambrano, Chris Sambrano, Ty Mckenzie, Dr. Jonathan Kopp, Dr. Alan Lai, Solo Sundays, Words First, Tell it on Tuesday.
  </div>
  <div class="credits__kickstarter">
    <h2>The Bi-Poseur Friendship and Appreciation Society</h2>
    <p>Alison Arsenault, Angela Neff, Anjali Kamat, Anna Gazdowicz, Annaham, Briana Lenz, Cariwyl, Chelsea Picinich, Christal Abellana, Christina Stenstrom, Ericka Lutz, Gernez, Holland Wong, James Gowdey, Jeffrey Carl Faden, Jimmy Mai, John, Josh Silvestri, Katie Compa, Kay Monroe, Kent Wong, Kevin Mitchell, Kim Peterson, Kiyoshi Ikeda, Kristian Narvios, Kramer, Leslie Beam, Margot, Mayene de Leon, Mel Baltazar, Nate, N’Jeri Eaton, Raymond Fu, Ryan Godinez, Sean Soren Paul Lee, Susan Ito, Steve, Teri N, Tiara the Merch Girl, Tim Ereneta, Tina Ta, Thao P. Nguyen, Will Chang</p>
  </div>
</section>
<section class="signup">
    <h1>Join the The Bi-Poseur Friendship and Appreciation Society</h1>
    <form action="//paolosambrano.us1.list-manage.com/subscribe/post?u=1680eabfec4e257460e9fdbf2&amp;id=e940639ede" method="post" target="_blank">
        <div class="signup__control-group">
            <label for="mce-EMAIL">Email Address</label>
            <input type="email" value="" name="EMAIL" id="mce-EMAIL" required>
        </div>
        <div class="signup__control-group">
            <label for="mce-FNAME">First Name</label>
            <input type="text" value="" name="FNAME" id="mce-FNAME" required>
        </div>
        <div class="signup__control-group">
            <label for="mce-LNAME">Last Name</label>
            <input type="text" value="" name="LNAME" id="mce-LNAME">
        </div>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_1680eabfec4e257460e9fdbf2_e940639ede" tabindex="-1" value=""></div>
        <input type="submit" value="Subscribe" class="btn cta-btn">
    </form>
</section>
<section class="in-touch">
  <p>If you or someone you know is in suicidal crisis, please call <a href="http://www.suicidepreventionlifeline.org/" target="_blank">The National Suicide Prevention Lifeline</a> at 1-800-273-TALK.</p>
</section>
