---
title: Bi-Poseur
---

<section class="description">
  <h1>What is Bi-Poseur?</h1>
  <p>Paolo thinks he's going to die. And not just quietly in his sleep when he's 87 either. He's convinced that the blood clot in his leg is going to make its way into his chest, causing a major heart attack, which would kill Paolo instantly at his desk, while he was updating his status on Facebook. And this is all assuming that Paolo doesn't kill himself first. Either by finally manning up and slitting his wrists (just making sure to avoid the tendons to retain use of his hands if he screws up) or maybe jumping in front of a BART train (although he doesn't wanna be remembered as the ass who got the trains delayed). But first, he has to write the perfect suicide note, which he can't seem to do.</p>
  <p class="description__pills">If you don't think that's dark enough, today is the day his mom died, fourteen years ago. Paolo's going to visit her grave, to sort out all this cosmic screwing around. From psych wards, to exclusive prep schools in Marin County, to Playstation controllers used as improvised nooses, what's someone who might be bi-polar to do?</p> 
  <p>Bi-Poseur, the show that Hiya Swanhuyser of the SF Weekly said “mines the depths and comes up with gold”, is probably the best time anyone will ever have hearing about suicide, mental illness, and dead parents for a night.</p>
</section>
<section class="people">
  <h1>About Paolo</h1>
  <h2 class="people__sub-header">Writer/Performer</h2>
  <p>Paolo Sambrano teeters on the edge of eye-rolling-never-ending-hyphenate and someone who actually does things. Creator of the Tumblr read by ten's of people, You Can't Hire Me. Paolo's debut solo show "Bi-Poseur" (directed by W. Kamau Bell, star of FX's Totally Biased with W. Kamau Bell) has played to sold-out houses in the Bay Area, and has performed in Texas and Maryland. Paolo is a former sometimes purveyor of fine dried beef, was a speaker at South by Southwest Interactive, and also blogs about television at the San Francisco Appeal. Paolo has been featured in the SF Weekly, the San Francisco Chronicle, and Kxan-TV in Austin, TX mentioned that his suicide attempt was "obviously unsuccessful."</p>
  <div class="people__section people__section--first">
    <h2>W. Kamau Bell</h2>
    <h3>Director</h3>
    <p>Socio-political comedian W. Kamau Bell has emerged as the post-modern voice of comedy. Kamau was recently named an Ambassador of Racial Justice by the ACLU. And he sits on the advisory board of Race Forward, a racial justice think tank and home for media and activism, and Hollaback, a non-profit and movement to end street harassment.</p>
    <p>Kamau is best known for his critically acclaimed, but criminally short-lived FX comedy series, Totally Biased with W. Kamau Bell. The New York Times called Kamau “the most promising new talent in political comedy in many years.” And Salon.com listed Kamau on their “Sexiest Men of 2012” list, calling the series “surreptitiously revolutionary in its effortless diversity and humanism.” The New Yorker said, “Bell’s gimmick is intersectional progressivism: he treats racial, gay, and women’s issues as inseparable.” The San Francisco Chronicle raved, “it makes The Daily Show seem like something your dad watches.” In its brief time Totally Biased was nominated for both an NAACP Image Award and a GLAAD Award. Totally Biased was executive produced by Chris Rock, who became a fan after seeing a performance of Kamau’s one man show.</p>
  </div>
  <div class="people__section people__section--second">
    <h2>Christopher Gadin Le</h2>
    <h3>Executive Producer</h3>
    <p>Since graduating from Teachers College of Columbia University, Christopher Gandin Le has dedicated himself to harnessing the power of technology to save lives and educate people.</p>
    <p>Chris brings an activist’s sensibility to public health, specifically suicide prevention. During his tenure at the National Suicide Prevention Lifeline, he established protocol for online suicide prevention and partnerships with all of the major social networking websites. With a donation from producer James L. Brooks, Chris co-created the Lifeline Gallery, a powerful virtual space where suicide survivors, attempt survivors, and suicide prevention supporters share their stories.</p>
    <p>Chris recently wrote a white paper titled “Using New Media for Suicide Prevention” for the Substance Abuse and Mental Health Services Administration, the first inquiry by the national government into online activity around suicide and suicide prevention.</p>
    <p>Naomi Wolf wrote the New York Times bestselling book “The End of America: A Letter of Warning to a Young Patriot” for, and dedicated the book to Chris, whom she calls “a born activist, a natural grassroots leader and teacher.”</p>
    <p>Christopher Gandin Le is working to make sure every single new media user has access to the life-saving tools they need.</p>
  </div>
  <h2 class="people__kickstarter-header">Kickstarter Backers</h2>
  <p>Alison Arsenault, Angela Neff, Anjali Kamat, Anna Gazdowicz, Annaham, Briana Lenz, Cariwyl, Chelsea Picinich, Christal Abellana, Christina Stenstrom, Creatrix Tiara, Ericka Lutz, Gernez, Holland Wong, James Gowdey, Jeffrey Carl Faden, Jimmy Mai, John, Josh Silvestri, Katie Compa, Kay Monroe, Kent, Kevin Mitchell, Kim Peterson, Kiyoshi (Ken) Ikeda, Kramer, Leslie Beam, Margot, Mayene de La Cruz, Mel Baltazar, N'Jeri Eaton, Nate, Raymond Fu, Ryan Godinez, Sean Soren Paul Lee, Steve, Susan Ito, Teri N, Thao P. Nguyen, Tim Ereneta, Tina Ta, and Will Chang.</p>
</section>
<hr class="bart">
<section class="testimonials">
  <h1>Reviews</h1>
  <blockquote>
    <p>"Comedy about suicide is so rare. Oh, sure, you’ve got your jokers in the comments on SFGate, but they’re not funny. Paolo Sambrano brings it, though. ...Sambrano mines the depths and comes up with gold in Bi-Poseur, a one-man show focusing on 'the quest for the perfect suicide note (otherwise, why do it?)' among other things."</p>
    <footer><a href="http://www.sfweekly.com/2010-02-03/calendar/go-out-there-and-kill/full/">Hiya Swanhuyser, SF Weekly (2/3/10)</a></footer>
  </blockquote>
  <blockquote>
    <p>"But Sambrano's not trying to kill your buzz. He's trying to make you laugh."</p>
    <footer><a href="http://www.sfgate.com/thingstodo/article/Bi-Poseur-Show-about-suicide-remains-upbeat-3259043.php">SF Gate Article</a></footer>
  </blockquote> 
  <blockquote>
    <p>"Sambrano's suicide attempt was obviously unsuccessful."</p>
    <footer>KXAN, Austin (3/15/10)</footer>
  </blockquote>
</section>
<section class="final-cta">
  <a href="#" class="final-cta__cta cta-btn">Buy now</a>
</section>