---
title: Bi-Poseur
---

<section class="description">
  <h1>We need to talk about Bi-Poseur</h1>
  <p>Paolo thinks he's going to die. And not just quietly in his sleep when he's 87 either. He's convinced that the blood clot in his leg is going to make its way into his chest, causing a major heart attack, which would kill Paolo instantly at his desk, while he was updating his status on Facebook. And this is all assuming that Paolo doesn't kill himself first. Either by finally manning up and slitting his wrists (just making sure to avoid the tendons to retain use of his hands if he screws up) or maybe jumping in front of a BART train (although he doesn't wanna be remembered as the ass who got the trains delayed). But first, he has to write the perfect suicide note, which he can't seem to do.</p>
  <p class="description__pills">If you don't think that's dark enough, today is the day his mom died, fourteen years ago. Paolo's going to visit her grave, to sort out all this cosmic screwing around. From psych wards, to exclusive prep schools in Marin County, to Playstation controllers used as improvised nooses, what's someone who might be bi-polar to do?</p> 
  <p>Bi-Poseur, the show that Hiya Swanhuyser of the SF Weekly said “mines the depths and comes up with gold”, is probably the best time anyone will ever have hearing about suicide, mental illness, and dead parents for a night.</p>
</section>
<section class="details">
  <h1>What you are getting</h1>
  <ul>
    <li>Full HD download</li>
    <li>DRM-free</li>
    <li>10% of every purchase going toward TKTK organization
  </ul>
</section>
<section class="final-cta">
  <a href="#" class="final-cta__cta cta-btn">Buy now</a>
</section>
<section class="people">
  <h1>About Paolo</h1>
  <h2 class="people__sub-header">Writer/Performer</h2>
  <a href="img/bios/full/paolo.jpg"><img src="img/bios/thumb/paolo.jpg" alt="Paolo Sambrano"></a>
  <p>Paolo's debut solo show "Bi-Poseur" (directed by W. Kamau Bell) has played to sold-out houses in the Bay Area, and has performed in Texas and Maryland. Paolo is the creator of the card game No Benefits, was a speaker at South by Southwest Interactive, and blogs about television at the San Francisco Appeal. Paolo has been featured in the SF Weekly, the San Francisco Chronicle, and KXAN-TV in Austin, TX mentioned that his suicide attempt was "obviously unsuccessful."</p>
  <div class="people__section people__section--first">
    <h2>W. Kamau Bell</h2>
    <h3>Director</h3>
    <a href="img/bios/full/wkamau.jpg"><img src="img/bios/thumb/wkamau.jpg" alt="W. Kamau Bell"></a>
    <small>Photo by <a href="http://www.lukefontanaphoto.com" target="_blank">Luke Fontana</a></small>
    <p>Socio-political comedian W. Kamau Bell has emerged as the post-modern voice of comedy. Kamau is best known for his critically acclaimed, but criminally short-lived FX comedy series, Totally Biased with W. Kamau Bell.</p>
    <p>The New York Times called Kamau “the most promising new talent in political comedy in many years.” And Salon.com listed Kamau on their “Sexiest Men of 2012” list, calling the series “surreptitiously revolutionary in its effortless diversity and humanism.” Kamau has appeared on Comedy Central, Real Time with Bill Maher, Conan, WTF with Marc Maron, Henry Louis Gates Jr’s Many Rivers To Cross, MSNBC, The View, Fresh Air with Terry Gross, and NPR, among others. The SF Weekly called Kamau “smart, stylish, and very much in the mold of politically outspoken comedians like Dave Chappelle,” though he was more excited that they called him “handsome.”</p>
  </div>
  <div class="people__section people__section--second">
    <h2>Christopher Gandin Le</h2>
    <h3>Executive Producer</h3>
    <a href="img/bios/full/chris.jpg"><img src="img/bios/thumb/chris.jpg" alt="Christopher Gandin Le"></a>
    <p>Since graduating from Teachers College of Columbia University, Christopher Gandin Le has dedicated himself to harnessing the power of technology to save lives and educate people.</p>
    <p>Chris brings an activist’s sensibility to public health, specifically suicide prevention. During his tenure at the National Suicide Prevention Lifeline, he established protocol for online suicide prevention and partnerships with all of the major social networking websites. With a donation from producer James L. Brooks, Chris co-created the Lifeline Gallery, a powerful virtual space where suicide survivors, attempt survivors, and suicide prevention supporters share their stories.</p>
    <p>Chris recently wrote a white paper titled “Using New Media for Suicide Prevention” for the Substance Abuse and Mental Health Services Administration, the first inquiry by the national government into online activity around suicide and suicide prevention.</p>
    <p>Naomi Wolf wrote the New York Times bestselling book “The End of America: A Letter of Warning to a Young Patriot” for, and dedicated the book to Chris, whom she calls “a born activist, a natural grassroots leader and teacher.”</p>
    <p>Christopher Gandin Le is working to make sure every single new media user has access to the life-saving tools they need.</p>
  </div>
</section>
<hr class="bart">
<section class="testimonials">
  <h1>Reviews</h1>
  <blockquote>
    <p>"Comedy about suicide is so rare. Oh, sure, you’ve got your jokers in the comments on SFGate, but they’re not funny. Paolo Sambrano brings it, though. ...Sambrano mines the depths and comes up with gold in Bi-Poseur, a one-man show focusing on 'the quest for the perfect suicide note (otherwise, why do it?)' among other things."</p>
    <footer><a href="http://www.sfweekly.com/2010-02-03/calendar/go-out-there-and-kill/full/">Hiya Swanhuyser, SF Weekly (2/3/10)</a></footer>
  </blockquote>
  <blockquote>
    <p>"But Sambrano's not trying to kill your buzz. He's trying to make you laugh."</p>
    <footer><a href="http://www.sfgate.com/thingstodo/article/Bi-Poseur-Show-about-suicide-remains-upbeat-3259043.php">SF Gate Article</a></footer>
  </blockquote> 
  <blockquote>
    <p>"Sambrano's suicide attempt was obviously unsuccessful."</p>
    <footer>KXAN, Austin (3/15/10)</footer>
  </blockquote>
</section>
<section class="credits">
  <h1>Credits</h1>
  <div class="credits__main">
    Bi-Poseur
    <br>
    Written and Performed by Paolo Sambrano
    <br>
    Directed by W. Kamau Bell
    <br>
    Performed at The Institution Theater Austin, TX
    <br>
    <br>
    Executive Producer
    <br>
    Christopher Gandin Le
    <br>
    Jennifer Gandin Le
    <br>
    <br>
    Dave Tuck - camera operator
    <br>
    Ernest - sound
    <br>
    <br>
    Edited by James Gowdey
    <br>
    Site by Jeffrey Carl Faden
    <br>
    <br>
    Special Thanks
    <br>
    The Institution Theater
  </div>
  <div class="credits__kickstarter">
    <h2>The Bi-Poseur Friendship and Appreciation Society</h2>
    <p>Alison Arsenault, Angela Neff, Anjali Kamat, Anna Gazdowicz, Annaham, Briana Lenz, Cariwyl, Chelsea Picinich, Christal Abellana, Christina Stenstrom, Ericka Lutz, Gernez, Holland Wong, James Gowdey, Jeffrey Carl Faden, Jimmy Mai, John, Josh Silvestri, Katie Compa, Kay Monroe, Kent, Kevin Mitchell, Kim Peterson, Kiyoshi Ikeda, Kristian Narvios, Kramer, Leslie Beam, Margot, Mayene de Leon, Mel Baltazar, Nate, N’Jeri Eaton, Raymond Fu, Ryan Godinez, Sean Soren Paul Lee, Susan Ito, Steve, Teri N, Tiara the Merch Girl, Tim Ereneta, Tina Ta, Thao P. Nguyen, Will Chang</p>
  </div>
</section>